.about {
  margin: 0 auto;
  margin-top: 120px;
  display: grid;
  gap: 88px;
  width: calc(100% - 206px);
  max-width: calc(1366px - 206px);
  align-items: center;
  grid-template-columns: 1fr 1fr;

  @media(max-width: $vp-1366) {
   margin-top: 91px;
   width: calc(100% - 90px);
   gap: 32px;
  }

  @media(max-width: $vp-768) {
    width: calc(100% - 30px);
    grid-template-columns: 1fr;
    margin-top: 55px;
    gap: 35px;
  }
}

.about__desc-container {
  grid-column: 1/2;

  @media(max-width: $vp-768) {
    grid-row: 1/2;
  }
}

.about__desc-container h2 {
  display: block;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;

  @media(max-width: $vp-1366) {
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
  }

  @media(max-width: $vp-768) {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.about__title br {
  display: none;

  @media(max-width: $vp-1366) {
    display: inline;
  }
}

.about__desc-container p {
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  margin-top: 25px;

  @media(max-width: $vp-1366) {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 15px;
  }
}

.about__image-container  {
  width: 560px;
  height: 301px;
  overflow: hidden;
  grid-column: 2/3;

  @media (max-width: $vp-1366) {
    width: 324px;
    height: 264px;
  }

  @media (max-width: $vp-768) {
    width: 290px;
    height: 186px;
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0 auto;
  }
}

.about__image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  justify-self: end;
}
