.additional-info {
  padding: 0 103px;
  margin: 0 auto;
  margin-top: 120px;
  width: calc(100% - 206px);
  max-width: calc(1366px - 206px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $vp-1366) {
    padding: 0 45px;
    width: calc(100% - 90px);
    gap: 27px;
    margin-top: 100px;
  }

  @media (max-width: $vp-768) {
    padding: 0 15px;
    width: calc(100% - 30px);
    flex-direction: column-reverse;
    align-items: stretch;
    gap: 32px;
    margin-top: 0;
  }
}

.additional-info__map {
  @media (max-width: $vp-1366) {
    width: 48%;
    min-height: 335px;
    height: 100%;
  }

  @media (max-width: $vp-768) {
    width: 100%;
  }
}

.additional-info__map iframe {
  border: none;
  display: block;

  @media (max-width: $vp-1366) {
    width: 100%;
    min-height: 335px;
    height: 100%;
  }
}

.additional-info__address {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: stretch;
  padding: 77px 0;
  gap: 31px;

  @media (max-width: $vp-1366) {
    width: 48%;
    align-self: flex-start;
    padding: 0;
    margin-top: 66px;
    gap: 26px;
  }

  @media (max-width: $vp-768) {
    width: 100%;
    margin-top: 58px;
  }
}

.additional-info__address p {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  margin: 0;
}

.additional-info__address a {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-decoration: none;
  color: $color-default-blue;
  display: flex;
  gap: 5px;
}

.additional-info__link br {
  display: none;

  @media (max-width: $vp-1366) {
    display: inline;
  }
}

.additional-info__mark {
  @media (max-width: $vp-1366) {
    width: 28px;
    height: 23px;
  }
}
