.advantages {
  display: grid;
  grid-template-rows: min-content 1fr;
  min-height: 562px;
  margin-top: 120px;

  &::after {
    content: "";
    background-image: url(../../img/main-bg-desktop.png);

    @media (min-resolution: $retina-dppx) {
      background-image: url(../../img/main-bg-desktop@2x.png);
    }

    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: auto;
    grid-row: 1/-1;
    grid-column: 1/-1;
    z-index: -1;
  }
}

.advantages__title {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
  margin-top: 110px;
  grid-row: 1/2;
  grid-column: 1/-1;
  background-color: transparent;
}

.advantages__list {
  margin: 0 auto;
  padding: 0 103px;
  margin-bottom: 120px;
  max-width: calc(1366px - 206px);
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  grid-row: 2/3;
  grid-column: 1/-1;
}

.advantages__list li {
  width: 360px;
  min-height: 246px;
  box-sizing: border-box;
  padding: 30px;
  background-color: $color-default-white;
  // align-self: flex-start;
  margin-top: 49px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.advantages__svg-container {
  height: 32px;
  min-width: 42px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.advantages__list h3 {
  margin: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 7px;
}

.advantages__list p {
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
