.page-header {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: min-content 1fr;
  margin: 0 auto;
  width: 100%;
  min-height: 650px;

  @media(max-width: $vp-1366) {
    min-height: 638px;
  }

  @media (max-width: $vp-768) {
    min-height: 500px;
    position: relative;
  }

  &::after {
    content: "";
    background-color: $color-default-blue;

    @media(min-width: 0) and (max-width: $vp-768) {
      background-image: url(../../img/header-bg-mobile.png);
      @media (min-resolution: $retina-dppx) {
        background-image: url(../../img/header-bg-mobile@2x.png);
      }
    }

    @media(min-width: 768px) and (max-width: $vp-1366) {
      background-image: url(../../img/header-bg-tablet.png);
      @media (min-resolution: $retina-dppx) {
        background-image: url(../../img/header-bg-tablet@2x.png);
      }
    }

    @media (min-width: 1366px) {
      background-image: url(../../img/header-bg-desktop.png);

      @media (min-resolution: $retina-dppx) {
        background-image: url(../../img/header-bg-desktop@2x.png);
      }
    }


    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: auto;
    grid-row: 1/-1;
    grid-column: 1/-1;
    z-index: -1;
  }
}
