.catalog {
  width: 100%;
  max-width: calc(1366px - 206px);
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 105px;

  @media (max-width: $vp-1366) {
    margin-top: 90px;
  }

  @media (max-width: $vp-768) {
    margin-top: 57px;
  }
}

.catalog h2 {
  margin: 0;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;

  @media (max-width: $vp-1366) {
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 39px;
  }

  @media (max-width: $vp-768) {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
  }
}

.catalog__list {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

  @media (max-width: $vp-768) {
    margin-top: 30px;
  }
}

.catalog__list li {
  display: grid;
  width: 260px;
  height: min-content;
  align-items: flex-end;
  box-sizing: border-box;
  cursor: pointer;

  @media (max-width: $vp-1366) {
    width: 309px;
  }

  @media (max-width: $vp-768) {
    width: 270px;
  }

  &:focus {
    outline: none;
  }

  &:hover .catalog__item-card {
    background-color: $color-default-blue;
    justify-content: flex-start;
    gap: 12px;
    padding: 28px 25px;
    padding-bottom: 10px;

    @media (max-width: $vp-1366) {
      padding: 28px 30px 0;
    }

    @media (max-width: $vp-768) {
      padding: 30px 25px 0;
    }
  }

  &:focus-within .catalog__item-card {
    background-color: $color-default-blue;
    justify-content: flex-start;
    gap: 12px;
    padding: 28px 25px;
    padding-bottom: 10px;
  }

  &:hover h3 {
    display: inline;
  }

  &:focus-within h3 {
    display: inline;
  }

  &:hover dl {
    display: flex;
    flex-direction: column;
  }

  &:focus-within dl {
    display: flex;
    flex-direction: column;
  }

  &:hover dt {
    display: inline;
  }

  &:focus-within dt {
    display: inline;
  }

  &:hover dd {
    display: inline;
  }

  &:focus-within dd {
    display: inline;
  }

  &:hover a {
    display: inline;
  }

  &:focus-within a {
    display: inline;
  }
}

.catalog__image-container {
  grid-row: 1/-1;
  grid-column: 1/-1;
  box-sizing: border-box;
  height: 100%;
}

.catalog__image-container img {
  display: block;

  @media (max-width: $vp-1366) {
    width: 309px;
    height: 386px;
  }

  @media (max-width: $vp-768) {
    width: 270px;
    height: 386px;
  }
}

.catalog__item-card {
  grid-row: 1/-1;
  grid-column: 1/-1;
  padding: 0 25px;
  padding-bottom: 24px;
  height: 100%;
  box-sizing: border-box;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media (max-width: $vp-1366) {
    padding: 0 35px 30px;
  }

  @media (max-width: $vp-768) {
    padding: 0 25px 16px;
  }
}

.catalog__item-card h3 {
  font-size: 18px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;

  text-align: left;
  color: $color-default-white;
  margin: 0;
}

.catalog__item-card dl {
  margin: 0;
  display: none;
}

.catalog__item-card dt {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;

  text-align: left;
  color: $color-default-white;
  margin: 0;
  box-sizing: border-box;
  display: none;
}

.catalog__item-card dd {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  text-align: left;
  color: #d8d8d9;
  margin: 0;
  box-sizing: border-box;
  display: none;
}

.catalog__item-card a {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;

  text-align: center;
  padding: 10px 47px;
  margin-top: 15px;
  box-sizing: border-box;
  text-decoration: none;
  color: $color-default-blue;
  background-color: $color-default-white;
  display: none;

  &:hover {
    background-color: #87ceeb;
  }

  &:focus {
    background-color: #87ceeb;
    outline: none;
  }
}
