.main-nav {
  grid-column: 1/1;
  grid-row: 1/2;
  margin: 0 auto;
  padding: 35px 103px;
  width: calc(100% - 206px);
  max-width: calc(1366px - 206px);
  display: flex;
  justify-content: space-between;

  @media (max-width: $vp-1366) {
    padding: 22px 45px;
    width: calc(100% - 90px);
  }

  @media (max-width: $vp-768) {
    padding: 20px 15px;
    width: calc(100% - 30px);
    flex-direction: column;
  }
}

.main-nav--header {
  @media (max-width: $vp-768) {
    padding: 20px 0;
    width: calc(100% - 35px);
    flex-direction: column;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    margin-right: 0;
    min-height: 500px;
    height: min-content;
    justify-content: flex-start;
    box-sizing: border-box;
    background-color: $color-default-white;
    position: absolute;
  }
}

.main-nav--hidden {
  @media (max-width: $vp-768) {
    padding: 20px 15px;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    position: absolute;
  }
}

.main-nav__list--hidden {
  @media (max-width: $vp-768) {
    display: none;
  }
}

.main-nav--nojs {
  @media (max-width: $vp-768) {
    position: static;
  }
}

.main-nav--header .main-nav__list {
  @media (max-width: $vp-768) {
    width: 100%;
    padding: 33px 25px;
    box-sizing: border-box;
    gap: 6px;
  }
}

.main-nav--footer {
  width: auto;
  padding: 35px 0;
  margin: 0;
  gap: 40px;

  @media (max-width: $vp-1366) {
    gap: 23px;
    padding: 40px 0;
    justify-content: flex-start;
  }

  @media (max-width: $vp-768) {
    padding: 0;
    gap: 14px;
  }
}

.main-nav--footer .main-nav__list {
  @media (max-width: $vp-768) {
    position: static;
    background-color: $color-default-blue;
    display: flex;
    gap: 0;
  }
}

.main-nav--footer .main-nav__link--footer {
  color: $color-default-white;

  @media (max-width: $vp-768) {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    text-align: left;
  }

  @media (max-width: $vp-768) {
    padding: 9px 0;
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 33px;

  @media (max-width: $vp-1366) {
    gap: 23px;
  }

  @media (max-width: $vp-768) {
    flex-direction: column;
    width: calc(100% - 35px);
    height: 100%;
  }
}

.main-nav__list--show {
  display: flex;
}

.main-nav__list a {
  text-decoration: none;
  color: $color-default-white;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  box-sizing: border-box;
  display: block;
  padding: 10px 0;

  @media (max-width: $vp-1366) {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    text-align: left;
  }

  @media (max-width: $vp-768) {
    color: $color-default-blue;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
  }

  &:hover {
    color: #87ceeb;
  }

  &:focus {
    color: #87ceeb;
    outline: none;
  }

  &:active {
    color: #87ceeb;
  }
}

.main-nav__list--footer a {
  @media (max-width: $vp-1366) {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    text-align: left;
  }
}
