html {
  height: 100%;
}

body,
html {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  margin: 0 auto;
  color: $color-default-blue;
}

.body-page {
  position: relative;
}

.body-page--hidden-overflow {
  overflow: hidden;
}
