.social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
  margin: 0;
  padding: 0;
  list-style: none;
  align-self: center;

  @media (max-width: $vp-1366) {
    gap: 23px;
  }

  @media (max-width: $vp-768) {
    align-self: flex-start;
  }
}

.social-list__fb {
  @media (max-width: $vp-1366) {
    width: 9px;
    height: 16px;
  }
}

.social-list__insta {
  @media (max-width: $vp-1366) {
    width: 16px;
    height: 16px;
  }
}

.social-list__twitter {
  @media (max-width: $vp-1366) {
    width: 16px;
    height: 13px;
  }
}

.social-list__link svg {
  fill: $color-default-white;
}

.social-list__link:hover svg {
  fill: #87ceeb;
}
