.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  align-self: center;
  margin-bottom: -33px;
  min-width: 117px;

  @media (max-width: $vp-768) {
    align-self: flex-start;
  }

  @media (max-width: $vp-1366) {
    margin-bottom: -23px;
    min-width: 87px;
  }
}

.social-list li {
  margin-right: 33px;
  margin-bottom: 33px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $vp-1366) {
    margin-right: 23px;
    margin-bottom: 23px;
  }
}

.social-list__fb {
  @media (max-width: $vp-1366) {
    width: 9px;
    height: 16px;
  }
}

.social-list__insta {
  @media (max-width: $vp-1366) {
    width: 16px;
    height: 16px;
  }
}

.social-list__twitter {
  @media (max-width: $vp-1366) {
    width: 16px;
    height: 13px;
  }
}

.social-list__link svg {
  fill: $color-default-white;
}

.social-list__link:hover svg {
  fill: #87ceeb;
}
