// Colors
// ---------------------------------

$color-default-white:#F9FBFD;
$color-default-grey:#D8D8D9;
$color-default-blue:#011C40;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-768:                            768px;
$vp-1366:                           1365px;

// Retina
// ---------------------------------

$retina-dppx: 2dppx;
