// Colors
// ---------------------------------

$color-default-white:#f9fbfd;
$color-default-grey:#d8d8d9;
$color-default-blue:#011c40;

// Viewports
// ---------------------------------

$vp-320:                            319px;
$vp-768:                            767px;
$vp-1366:                           1365px;

// Retina
// ---------------------------------

$retina-dppx: 2dppx;
